################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
